body{
	width: 1280px;
	/*overflow:hidden;*/
    background-image: url(assets/a.jpg);
    background-size: 100%;
}

.textwrap {
    width: 100px;
    float: left;
    margin: 5%;
    color: rgba(211,211,211,.8);

}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 72px;
    line-height: 95%;
    margin-bottom: .1em;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 0em;
}

button {
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(76,175,80,1);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover{
    background-color: rgba(76,175,80,0.7);
}


.spot{
	font-size: 200px;
    color:red;
    opacity: 0;
    margin-top: 30px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    z-index: 1000;
}

#spot1{
    position: fixed;
    height: 40px;
    top:-60px;
    right: 1px;
}

#spot2{
    position: fixed;
    height: 40px;
    top:-20px;
    right: 146px;
}
#spot3{
    position: fixed;
    height: 40px;
    top:85px;
    right: 250px;
}

#spot4{
    position: fixed;
    height: 40px;
    top:228px;
    right: 290px;
}

#spot5{
    position: fixed;
    height: 40px;
    top:372px;
    right: 250px;
}

#spot6{
    position: fixed;
    height: 40px;
    top:477px;
    right: 146px;
}

#spot7{
    position: fixed;
    height: 40px;
    top:517px;
    right: 1px;
}

.spot:hover{
    color: white;
    opacity: 1;
}





/*clock's id*/
#defaultCanvas0{
    width: 1280;
    margin-top: -65px;
    margin-left: 790px;
    position: fixed;
}

/*background video fullscreen*/

video.video_position{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}



video {
width: 100%;
height: 100%;
position: absolute;
display: none
}



